/* Cart component styles */
.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.cartContainer {
  width: 90%;
  height: 90%;

  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.cart h2 {
  margin: 0 0 20px;
  color: black;
}

.cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart li {
  margin-bottom: 10px;
  color: black;
}

.cart p {
  margin: 10px 0;
  color: black;
}

.cart button {
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart button:hover {
  background-color: rgba(67, 67, 67, 0.8);
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkout-form label {
  margin-bottom: 5px;
  color: black;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form select {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.checkout-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M8.59 13.59L13 18.17V4h2v14.17l4.42-4.42l1.41 1.41L12 22.83L2.17 13H7v-2h6.17l-4.58-4.59z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px;
}

.checkoutForm button[type="submit"] {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkoutForm button[type="submit"]:hover {
  background-color: rgba(67, 67, 67, 0.8);
}

.checkoutFormMessage {
  margin-top: 20px;
  color: black;
}
