.galleryContainer {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

.primaryContainer {
  height: 100%;
  width: 100%;
  border-radius: 1rem;

  overflow: hidden;
  object-fit: contain;
  position: relative;
}

.primaryProductImage {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.productGallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
  z-index: 1;
  align-items: flex-start;
}

.relatedProductImage {
  border-radius: 1px;
  width: 100%;
  margin: 0 !important;
  padding-bottom: 20px;
}

.productGallery .relatedProductImage:first-child {
  margin-top: 0;
}
.galleryContainer img {
  width: 90% !important;
}
