.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  order: 1;
  width: 300px;
  height: 400px; /* Set a fixed height */
  box-shadow: 0;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
    outline 0.3s ease-out;
  overflow: hidden; /* Prevent content from overflowing the container */
}

.product:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.product:focus {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  outline: dotted 2px #ccc;
}
.product:focus-within img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
}
.product img {
  width: 250px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease-out;
}
.name {
  font-size: 1rem;
  color: #333;
  padding: 10px 0px 30px 0px;
  white-space: wrap; /* Prevent line breaks in the name */
  overflow: hidden; /* Hide the text that overflows the container */
  text-overflow: ellipsis; /* Add ellipsis (...) when the text overflows */
  width: 100%; /* Set the name width to 100% */
  height: 300px;
}
.price {
  font-size: 1.5rem;
  color: #333;
  margin-top: auto;
}
.product p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 15px;
  width: 100%;
}
@media screen and (min-width: 1001px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    order: 1;
    width: 400px;
    height: 500px; /* Set a fixed height */
    box-shadow: 0;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
      outline 0.3s ease-out;
    overflow: hidden; /* Prevent content from overflowing the container */
  }

  .product:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .product:focus {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    outline: dotted 2px #ccc;
  }
  .product:focus-within img {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-out;
  }
  .product img {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease-out;
  }
  .name {
    font-size: 1.2rem;
    color: #333;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .price {
    font-size: 1.5rem;
    color: #333;
    margin: 0px;
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin-top: 0px;
  }
  .button1 {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
      outline 0.3s ease-out;
  }
  .button2 {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
      outline 0.3s ease-out;
  }
  .button1:hover {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
      outline 0.3s ease-out;
  }
  .button2:hover {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out,
      outline 0.3s ease-out;
  }
  .linkBox {
    display: flex;
    flex-direction: column;
  }
}
